[[extend 'layout.html']]

<!-- vue access div -->
<div class="section" id="vue-target">

  <!-- add story html toggle block -->
  <div v-if="add_mode" class="container block">
      <!-- Title Input Field -->
      <div class="field">
        <label class="label">Title:</label>
        <div class="control">
          <input type="text" v-model="add_title" class="input">
        </div>
      </div>
      <!-- Contents Input Field -->
      <!-- This should be a large input box, not a small one. -->
      <div class="field"> 
        <label class="label">Contents:</label>
        <div class="control">
          <textarea v-model="add_content" class="textarea"></textarea>
        </div>
      </div>
      <!-- Author Input Field -->
      <div class="field">
        <label class="label">Author:</label>
        <div class="control">
          <input type="text" v-model="add_author" class="input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_story" value="Add" class="button is-primary">
          <input type="submit" @click="set_feed_mode()" value="Back" class="button is-warning">
        </div>
      </div>
  </div>

  <!-- view story html toggle block -->
  <div v-if="view_mode" class="container block">
    <div class="block">
      <div class="title is-2">{{view_title}}</div>
    </div>
    <div class="block">
      <div class="subtitle is-6">
        by {{view_author}}, Created on {{view_date}}
      </div>
    </div>
    <div class="block">
      <div class="box">{{view_content}}</div>
    </div>

    <!-- Back Button -->
    <input type="submit" @click="set_feed_mode()" value="Back" class="button is-warning">
  </div>

  <!-- feed html toggle block -->
  <div v-if="feed_mode" class="container block">
    <div class="title">Unheard Stories</div>
    <div class="container">
      <table class="table is-striped is-fullwidth">
        <!-- vue feed -->
        <div v-for="story in feed" class="block">
          {{story.title}}
          <!-- view button -->
          <a class="button is-success" @click="view(story._idx)">
            <span class="icon"><i class="fa fa-fw fa-eye"></i></span>
          </a>
        </div>
      </table>
    </div>
    <a class="button is-success" @click="set_add_mode()">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span>Submit a story</span>
    </a>
  </div>


</div>

<!-- test change-->

[[block page_scripts]]
<!-- This passes the python controller actions to the js -->
<script>
  let add_story_url = "[[=XML(add_story_url)]]" 
  let get_feed_url  = "[[=XML(get_feed_url)]]"
  let view_url      = "[[=XML(view_url)]]"
</script>
<script src="js/index.js"></script>
[[end]]